@import url('../index.css');

#cv-header-container{
    display: flex;
    background-color: var(--highlight-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: var(--header-container-direction);
}
#img-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--highlight-color);
    text-align: center;
    /* top right bottom left */
    margin: var(--img-name-margins);
}
#cv-header-contact-container{
    display: grid;
    grid-template-columns: var(--header-contact-columns);
}
#image-container{
    display: flex;
    height: 100%;
    max-height: 260px;
    width: 180px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
#image-container img {
    margin-top: var(--img-margin-top);
    width: 100%;
    height: auto;
    display: block;
  }
